<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>

{{#partial "contenido" }}

	<form class="clothes-form" method='post' action='/eventos/alta'>
		<h1>Alta de Evento</h1>
		
		<h3>Ingresar descripcion</h3>
		<input name='Descripcion' value='{{descripcionIngresada}}' required>
		<h3>Elegir frecuencia</h3>
		<select name="Frecuencia">
			<option value="Anual" required> Anual</option>
			<option value="Diaria" required> Diaria</option>
			<option value="Mensual" required> Mensual</option>
			<option value="Semanal" required> Semanal</option>
			<option value="UnicaVez" required> Unica vez</option>
		</select>
		
		<button type='submit'>Siguiente</button>
		<input type="reset"><br>
		
	</form>

{{/partial}}

{{> layout.hbs}}

</body>
</html>