<html>
<head>
<link rel="stylesheet" type="text/css" href="/login.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/calendario.css" media="screen" />
</head>
<body>

{{#partial "contenido"}}
	<div class=calendario>
	<div class=fecha>
	<form class="profile-form" action="/eventos" method="GET">
		<input type="date" name='fecha' value='{{fecha}}'/>
		<button type='submit'>Eventos!</button>
	</form>	
	</div>
	<div class=eventos>
	{{#if hayFecha}}
		<h2>Eventos</h2>
		{{#if eventosPendientes}}
			{{#each eventosPendientes}}
				<li>descripcion: {{this.descripcion}}</li>
				<form method='post' action='/eventos'>
					<button type="submit" name='eventoNum' value='{{@index}}'>Sugerencias</button>
				</form>
			{{/each}}
		{{/if}}
		{{#if eventosNoPendientes}}
    		{{#each eventosNoPendientes}}
    			<li>descripcion: {{this.descripcion}}</li>
    		{{/each}}
    	{{/if}}
    	{{#unless eventos}}
    		<li>No se han encontrado eventos</li>
    	{{/unless}}
			{{/if}}
		</div>
	</div>
{{/partial}}
{{>layout.hbs}}
</body>
</html>