<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>

{{#partial "contenido" }}

	<form class="calificarSugerencias" action="/sugerencias/calificar/aceptadas" method="POST">

		<h1>Calificar sugerencia</h1>

		<h1>Categorias</h1>

		<h3>Superior</h3>
		<input type="radio" name="Superior" value="BIEN"> Bien<br>
		<input type="radio" name="Superior" value="FRIO"> Frio<br>
		<input type="radio" name="Superior" value="CALOR"> Calor<br>

		<h3>Calzado</h3>
		<input type="radio" name="Calzado" value="BIEN"> Bien<br>
		<input type="radio" name="Calzado" value="FRIO"> Frio<br>
		<input type="radio" name="Calzado" value="CALOR"> Calor<br>

		<h3>Inferior</h3>
		<input type="radio" name="Inferior" value="BIEN"> Bien<br>
		<input type="radio" name="Inferior" value="FRIO"> Frio<br>
		<input type="radio" name="Inferior" value="CALOR"> Calor<br>

		<h3>Accesorio</h3>
		<input type="radio" name="Accesorio" value="BIEN"> Bien<br>
		<input type="radio" name="Accesorio" value="FRIO"> Frio<br>
		<input type="radio" name="Accesorio" value="CALOR"> Calor<br>


		<button type='submit'>Calificar</button>

{{/partial}}

{{> layout.hbs}}

</body>
</html>