<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>
{{#partial "contenido"}}

	<div class="login-page">
	  <div class="form">
	    <form class="login-form" action="/inicioSesion/Usuario" method="POST">
	      <input type="text" placeholder="Nombre Usuario" name="nombreUsuario"/>
	      <input type="password" placeholder="Contraseña" name="contrasenia"/>
	      <button>login</button>
	    </form>
	  </div>
	</div>

{{/partial}}
{{>layout.hbs}}

</body>
</html>