{{#partial "otherHead"}}

<!--link rel="stylesheet" type="text/css" href="/login.css" media="screen" /-->
{{/partial}}

{{#partial "contenido"}}

<form action="/" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="nombreUsuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el usuario">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

{{/partial}}
{{>layout.hbs}}

</body>
</html>
