<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>
{{#partial "contenido"}}

	<div class="story-page">
	  Bienvenide {{nombreUsuario}}
	</div>

	<form class="profile-form" action="/sugerencias/show/aceptadas" method="GET">
	    <button>Ver sugerencias aceptadas</button>
	</form>

	<form class="profile-form" action="/evento/show" method="GET">
	    <button>Ver eventos agendados</button>
	</form>

	<form class="profile-form" action="/evento/alta" method="GET">
	    <button>Agendar evento</button>
	</form>

	<form class="profile-form" action="/calendario" method="GET">
			<button>Visualizar calendario</button>
	</form>

	<form class="profile-form" action="/guardarropas/prendas" method="GET">
			<button>Listas prendas de guardarropas</button>
	</form>

	<form class="profile-form" action="/prendas/step-1" method="GET">
			<button>Dar de alta prendas</button>
	</form>

	<form class="profile-form" action="/guardarropa" method="GET">
			<button>Guardarropas</button>
	</form>

	{{#each lista}}
	<li>{{this}}</li>
	<tr>
					<td>{{colorPrimario}}
	</tr>
	{{/each}}

{{/partial}}
{{>layout.hbs}}
</body>
</html>
