<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>
{{#partial "contenido"}}
	<div class="story-page">
	  Bienvenido, usuario N°{{nombreUsuario}}
	</div>
	{{/partial}}
	{{>layout.hbs}}
</body>
</html>
