<html>
<head>
<link rel="stylesheet" type="text/css" href="/perfil.css" media="screen" />
</head>
<body>
{{#partial "contenido"}}

	<div class="story-page">
	 <h3> Bienvenide {{nombreUsuario}} </h3>
	</div>
	<div class="form">
	<!--
	<a href="/sugerencias/show/aceptadas" class="boton_1" action="/sugerencias/show/aceptadas" method="GET">
	    Ver sugerencias aceptadas
	</a>
	-->
	<form class="profile-form" action="/sugerencias/show/aceptadas" method="GET">
	    <button>Ver sugerencias aceptadas</button>
	</form>

	<form class="profile-form" action="/evento/show" method="GET">
	    <button>Ver eventos agendados</button>
	</form>

	<form class="profile-form" action="/evento/alta" method="GET">
	    <button>Agendar evento</button>
	</form>

	<form class="profile-form" action="/calendario" method="GET">
			<button>Visualizar calendario</button>
	</form>

	<form class="profile-form" action="/guardarropas/prendas" method="GET">
			<button>Listas prendas de guardarropas</button>
	</form>

	<form class="profile-form" action="/prendas/step-1" method="GET">
			<button>Dar de alta prendas</button>
	</form>

	<form class="profile-form" action="/guardarropas/show" method="GET">
			<button>Guardarropas</button>
	</form>
	</div>
	{{#each lista}}
	<li>{{this}}</li>
	<tr>
					<td>{{colorPrimario}}
	</tr>
	{{/each}}

{{/partial}}
{{>layout.hbs}}
</body>
</html>
