<html>
<head>
<link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" />
</head>
<body>
{{#partial "contenido"}}

	<div class="story-page">
	  Bienvenide {{nombreUsuario}}
	</div>

	<input type="button" value="Website Random" onclick="window.open('http://www.website.com/page')" />


{{/partial}}
{{>layout.hbs}}
</body>
</html>
