<html>
<head>
<link rel="stylesheet" type="text/css" href="/login.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/sugerenciasPendientes.css" media="screen" />
</head>
<body>

{{#partial "contenido"}}
	<div id = "body">
		<form method='post' action='/sugerenciasPendientes'>
		{{#each sugerencias}}
			<div id = "sugerencia"> 
				<div class="card" style="width: 18rem;">
  					<div class="card-body">
    					<h5 class="card-title">Sugerencia </h5>
    						<p class="card-text">La sugerencia consta de: </p>
    						{{#each this.atuendo}}
    						<p class="card-text">
    						     {{this.tipo}} cuyo principal color es el {{this.colorPrimario}} y la tela es de  {{this.tela}}
    						     </p>
    						{{/each}}
							
						<input type="radio" name='sugerencia' value='{{@index}}' class="btn btn-primary">Aceptar<br>
					</div>
				</div>
			</div>
		{{/each}}
		<div class="boton">
			<button type="submit">Confirmar</button>
		</div>
		</form>
	</div>
{{/partial}}
{{>layout.hbs}}
</body>
</html>