{{#partial "contenido"}}

{{#if haySugerenciaAceptada}}
	
	<form class="mostrarSugerencias" action="/sugerencias/show/aceptadas" method="POST">
	{{> verSugerencias.hbs}}
	
	<p>Elegir sugerencia</p>
	<input name='nroSugerencia' value='{{posicion}}'/>
	<button type='submit' class="btn btn-primary">Calificar</button>
	
	</form>
	
{{else}}
	<h2> No hay sugerencias aceptadas </h2>
{{/if}}

{{/partial}}

{{>layout.hbs}}
